<section class="catigories">
  <div class="container">
    <h2 class="title">
      Популярные категории
    </h2>

    <ul class="catigories__filters">
      <li class="catigories__filter">
        <button class="catigories__btn catigories__btn--burg mixitup-control-active" data-filter=".category-burgers" type="button">Бургеры</button>
      </li>
      <li class="catigories__filter">
        <button class="catigories__btn catigories__btn--pizza" data-filter=".category-pizza" type="button">Пицца</button>
      </li>
      <li class="catigories__filter">
        <button class="catigories__btn catigories__btn--sendvich" data-filter=".category-sendvich" type="button">Сендвичи</button>
      </li>
      <li class="catigories__filter">
        <button class="catigories__btn catigories__btn--asia" data-filter=".category-asia" type="button">Азиатская кухня</button>
      </li>
      <li class="catigories__filter">
        <button class="catigories__btn catigories__btn--dish" data-filter=".category-dish" type="button">Cеты</button>
      </li>
    </ul>

    <ul class="carts">
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-1.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чизбургер с листьями салата</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-2.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Бифбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-3.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Королевский чизбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-4.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Черный гамбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-1.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чизбургер с листьями салата</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-2.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Бифбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-3.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Королевский чизбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-4.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Черный гамбургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-burgers">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-dish" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-sendvich" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-pizza" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-pizza" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-asia" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-asia" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
      <li class="carts__item mix category-asia" style="display: none;">
        <a class="carts__link" href="#">
          <img class="carts__img" src="images/catigories/burger-5.png" width="140" height="140" alt="бургер">
          <h3 class="carts__title">Чикен бургер</h3>
          <span class="carts__price">160 руб.</span>
          <button class="btn carts__btn" type="button">В корзину</button>
        </a>
      </li>
    </ul>
    <a class="catigories__more" href="#">Показать еще</a>

  </div>
</section>