<section class="delivery">
  <div class="container">
    <div class="delivery__inner">
      <div class="delivery__content">
        <h1 class="delivery__title">
          Доставка
          <span class="delivery__subtitle">за 15 минут</span>
        </h1>
        <div class="delivery__text">
          <p>
            Самый быстрый сервис доставки еды в вашем городе. Не уложимся в срок - доставка за наш счёт
          </p>
        </div>
        <div class="delivery__btns">
          <button class="btn delivery__btn" type="button">Заказать</button>
          <a class="delivery__link" href="#">Подробнее</a>
        </div>
      </div>

      <div class="delivery__img">
        <img src="images/delivery/delivery-man.png" width="560" height="660" alt="delivery man">
      </div>
    </div>
  </div>
</section>