<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <form class="footer__form" action="#">
        <a class="logo footer__logo" href="#">
          <img class="logo__img" src="images/icons/logo.svg" width="200" height="31" alt="logo">
        </a>
        <div class="footer__form-item">
          <label class="sr-only" for="email">email</label>
          <input class="footer__form-field" id="email" type="email" placeholder="Ваш email">
        </div>
        <button class="btn footer__btn" type="submit">Подписаться</button>
      </form>

      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Как это работает</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Продукты</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Блюда</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Меню</a>
        </li>
      </ul>

      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">О нас</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Новости</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Партнеры</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">ЧаВо</a>
        </li>
      </ul>

      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">Скачать приложение</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Блог</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Что нового?</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Карта сайта</a>
        </li>
      </ul>

      <address class="address">
        <div class="address__item">
          <a class="address__link address__item--loc" href="#">ул. Смирнова 2/3</a>
        </div>
        <div class="address__item">
          <a class="address__link address__item--tel" href="#">79068057043</a>
        </div>
        <div class="address__item">
          <a class="address__link address__item--sup" href="#">support@sfood.com</a>
        </div>

        <div class="social">
          <a class="social__link" href="#">
            <span class="social__icon" style="background-image: url('../images/icons/icon-facebook.svg');"></span>
          </a>

          <a class="social__link" href="#">
            <span class="social__icon" style="background-image: url('../images/icons/icon-twitter.svg');"></span>
          </a>

          <a class="social__link" href="#">
            <span class="social__icon" style="background-image: url('../images/icons/icon-instagram.svg');"></span>
          </a>
        </div>
      </address>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-bottom__copy">© 2021 Simple Food</span>
  </div>
</footer>