<header class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="#">
        <img class="logo__img" src="images/icons/logo.svg" width="200" height="31" alt="логотип">
      </a>

      <div class="menu__inner">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Блюда</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="menu__baskets">
          <li class="menu__basket">
            <a class="menu__basket-link menu__search" href="#">
              <span class="sr-only">поиск</span>
              <span class="menu__icon" style="background-image: url('../images/icons/icon-search.svg');"></span>
            </a>

            <a class="menu__basket-link" href="#">
              <span class="sr-only">корзина</span>
              <span class="menu__icon menu__cart" style="background-image: url('../images/icons/icon-cart.svg');"></span>
              <span class="menu__num">4</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>