<header class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="#">
        <img class="logo__img" src="images/icons/logo.svg" width="200" height="31" alt="логотип">
      </a>

      <div class="menu__inner">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">Главная</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Блюда</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>

        <ul class="user-nav">
          <li class="user-nav__item">
            <button class="user-nav__btn" type="button">
              <span class="user-nav__icon user-nav__icon--search">поиск</span>
            </button>
          </li>

          <li class="user-nav__item">
            <button class="user-nav__btn" type="button">
              <span class="user-nav__icon user-nav__icon--cart">корзина</span>
              <span class="user-nav__num">4</span>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>